:root {
    --background: #121213;
    --background2: rgb(0, 0, 0, 0.5);
    --background3: #787c7e;
    --background4: #878a8c;
    --text: #ffffff;
    --border: #3a3a3c;

    --correct: #538d4e;
    --present: #b59f3b;
    --absent: #3a3a3c;

    --font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
}

#heading {
    margin: 0;
    font-family: var(--font-family);
    font-size: 75px;
    color: var(--text);
    text-align: center;
}

#break {
    border: 1px solid white;
    margin-top: 0;
}

#board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#board {
    width: 290px;
    height: 348px;
    /* margin-top: 10px; */
    /* position: absolute; */
    /* top: clamp(110px, 20%, 20%); */
    /* transform: translate(-50%, calc(-50% + 200px)); */
    /* transform: translate(-50%, calc(-50% + 198px)); */
    /* top: clamp(125px, calc(20% + 100px), calc(50% - 100px)); */
    /* top: clamp(125px,
                 calc(100px + 40%),
                 40%
                 ); 
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#popup-container {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: var(--background2);
    width: 350px;
    height: 300px;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
    /* top: clamp(calc(40% - 175px), 100px, 1nod00px); */
    border-radius: 15px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#result-text {
    padding: 0;
    margin: 0;
    position: inherit;
    /* top: 100px; */
    /* margin-top: 500px; */
    font-family: var(--font-family);
    color: var(--text);
    font-size: 65px;
    margin-bottom: 50px;
}

#play-again-button {
    padding: 0;
    margin: 0;
    position: inherit;
    /* margin-top: 410px; */
    background-color: var(--background4);
    width: 250px;
    height: 90px;
    border: 0;
    border-radius: 15px;
}

#play-again-button:hover {
    cursor: pointer;
    background-color: var(--background3);
}

#play-again-text {
    color: var(--text);
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 750;
}

#close-popup-button {
    color: var(--text);
    background-color: rgb(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

#close-popup-button:hover {
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.row {
    border: 0;
    margin: 0;
    width: 300px;
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cell {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    border: 2px var(--border) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    margin: 0;
    border: 0;
    color: var(--text);
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
}

.correct {
    background-color: var(--correct);
    border-color: var(--correct);
}

.present {
    background-color: var(--present);
    border-color: var(--present);
}

.absent {
    background-color: var(--absent);
    border-color: var(--absent);
}

/* .darker-span {
    filter: brightness(50%);
} */
