:root { 
    --background: #121213;
    --text: #ffffff;
    --border: #3a3a3c;

    --correct: #538d4e;
    --present: #b59f3b;
    --absent: #3a3a3c;
}

body {
    background-color: var(--background);
}

#heading {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: var(--text);
    text-align: center;
}

#break {
    border: 1px solid white;
    margin-top: 0;
}

#board {
    width: 290px;
    height: 344px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: clamp(calc(50% - 150px), 50%, 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cell {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    border: 2px var(--border) solid;
}
